# Data Science Tools and Ecosystem
In this notebook, Data Science tools and ecosystem are summarized.

## Author 
Pavitra Ramakrishnan

Some of the popular languages that data scientists use are:
1. Python
2. R 
3. C++

# *Objectives*
- List popular tools used in data science
- Commercial tools used in data science 
- Popular R libraries 
- Syntax of R languages 
- Github

## Data Science Tools
|Environment|Data Science Tools|
|------|-------|
|Data Visualization|PixieDust, Kibana|
|Model Deployment|Seldon|
|Model monitoring|ModelDB|

### Below are a few examples of evaluating arithmetic expressions in python
This is a simple arithmetic expression to multiply then add integers

In [1]:
d= (3*4)+5
print(d)

17

### This will convert 200 minutes into hours by dividing by 60

In [4]:
print(200/60)

3.3333333333333335